{% from "components/nav.njk" import Nav %}
{% from "components/creativecommons.njk" import CreativeCommons %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bundle.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.svg">
    <title>{{ title }}</title>
  </head>
  <body>
    <main>
      {{ Nav(collections) }}
      <article class="prose">
        {{ content | safe }}
        <div>
          <a class="footer-link" href="https://xn--sr8hvo.ws/previous">←</a>
          <span>An</span> <a class="footer-link" href="https://xn--sr8hvo.ws">IndieWeb Webring</a> 🕸💍
          <a class="footer-link" href="https://xn--sr8hvo.ws/next">→</a>
        </div>
      </article>
    </main>
    {{ CreativeCommons() }}
  </body>
</html>