{% from "components/nav.njk" import Nav %}
{% from "components/book.njk" import Book %}
{% from "components/creativecommons.njk" import CreativeCommons %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bundle.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.svg">
    <title>{{ title }}</title>
  </head>
  <body>
    <main>
      {{ Nav(collections) }}
      <article class="prose">
        <header>
          <h1>{{ title }}</h1>
          {% if page.date %}
            <span>{{ page.date | date("dd/MM/yyyy") }}</span>
          {% endif %}
        </header>
        <section class="book-layout">
          {{ content | safe }}
          {% if books %}
          <div>
            <div class="books">
              <div class="currentBook">
              {{ Book(books[0].title, books[0].author, books[0].key, books[0].value, true) }}
            </div>

            <div class="books-grid">              
              {% for book in books.slice(1) %}
                {{ Book(book.title, book.author, book.key, book.value, false) }}
              {% endfor %}
            </div>
          </div>
          <section>
          {% endif %}
        </div>
      </article>
    </main>
    {{ CreativeCommons() }}
  </body>
</html>