{% macro Frame(path, alt, caption) %}
<figure class="gallery-card">
  <img src="{{ path }}" alt="{{ alt }}" class="gallery-img" loading="lazy">
  <figcaption>{{ caption }}</figcaption>
</figure>
{% endmacro %}